 #header{
  display: flex;
  margin-left: 0px;
  position: sticky;
   width: 100vw;
  height: 20vh;
  background-image: url('cleanfinal.png');
  background-size: fill;
  background-position: center center;
  animation: slideShow 10s;  
}
 
@keyframes slideShow{
    0% {
    background-image: url('earthpic.jpg');  
  }
    100% {
    background-image: url('cleanfinal.png');
  }
   } 
    
   .global{
    display: flex;
    color: white;
    font-weight: 700;
    font-size: larger;
    text-align: center;
    align-items: center;
   }

 
 
a:hover{
    transition: 0.3s ease-in;
    color: #ffffff;
    text-decoration: none;
    font-size: 16.5px;
}
 
 
.main-section {
  display: flex;  
  width: 100%;
  height: calc(100vh - 29vh);  
   
}

.content-area {
  flex: 1;
  display: flex;
  justify-content: center;    
  align-items: center;        
  background-color: white;
  margin-top: 1px;
}
 
#paragraph{
  margin-top: 5%;
}

@media (max-width: 800px) {
   #header {
    display: none;
 }  
  .option{
      display: none;
    }
  .content-area{
    display: none;
  }
  #tab1{
    height: auto;
    width: 60vh;
  }

  .global{
    margin-left: 30%;
  }
   }

   .quote{
    display: flex;
    margin-top: 1%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-style:italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   }
   
   

 