 /* Basic Reset */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Container */
.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-right: 250px;
    padding: 30px 0;
     
}
.logo{
    margin-left: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
     
}
/* Header */
header {
    background-color: #004080;
    color: #fff;
    display: flex; 
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    

    
}

header .logo {
    float: left;
    font-size: 24px;
    font-weight: bold;
    
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Hero Section */
.hero {
    background-color: #e6f2ff;
    padding: 60px 0;
    text-align: center;
    background-image: url(swakshta.jpg);
    background-size: contain;
    
     
    
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
    
    
}

.hero p {
    font-size: 18px;
    
}

/* Report Section */
.report, .login {
    padding: 40px 0;
}

.report h2, .login h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: auto;
    
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #004080;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(39, 117, 149);
    transition:all 2s ease-in-out;
    width: 103%;
    
}

.success {
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 20px;
}

/* Footer */
footer {
    background-color: #004080;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .social a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer .social a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 600px) {
    header .logo, nav {
        float: none;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
#h2{
    color: white;

}
 


.logo{
    animation: Logo 10s 0s infinite;
}
@keyframes Logo{
    0%{color: #fff;}
    50%{
        color: #0993ac;
    }
    100%{
        color: dodgerblue;
    }
}
 .reporter1{
    display: inline;
    width: 50px;
     
     
    
 }
  
 .reporter1:hover{
    background-color: #0993ac;
    
 }
 .reporter2:hover{
    background-color: #0993ac;
    
 }
.problemsort{

    background-color: orange;
    margin: 10%;
    
}

.problemsort:hover{
    transition: all 2s ease-in;
    background-color: rgb(186, 226, 25);
    

}


.abcef{
    border: 2px solid black;
    margin-left: 400px;
}
 .prompt123{
    display: block;
    margin-left: 200px;
    height: 80px;
    width: 270px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #0ec530;
    text-decoration: none;
    text-align: center;

 }
 
.unordered1{
    text-transform: none;
    list-style-type: none;
}
.prompt123:hover{
    transition: all 1s ease-out;
    height: 100px;
    width: 300px;
    background-color: aqua;
     
    

}


#login11:hover{
    transition: all 1s ease-in;
    color: #a490ed;
}
 #inline1{
    margin-top: 10px;
    background-color: #ddf3fa;
    display: flex;
 }